@import "../../../../styles.module.scss";

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  box-shadow: 0px 2px 5px 0px var(--shadow-color);
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.project:hover {
  transform: scale(1.05);
}

.project a {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
}
.item {
  color: var(--secondary-color);
  margin-left: 2px;
  margin-right: 2px;
}
.project a h2 {
  color: var(--secondary-color);
  text-align: left;
  margin-bottom: 0px;
  transition: 0.5s;
}
.project a div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.project p {
  font-size: 1.3em;
  color: var(--secondary-color);
  margin: 0;
  margin-top: 5px;
}

.project footer {
  margin: auto;
}

@media (min-width: 1120px) {
  .project {
    justify-content: space-between;
    width: 70%;
  }

  .visit {
    margin: 0;
    width: 20%;
  }

  .project footer {
    margin: 0;
    margin-top: 40.5px;
  }
}
