@import "../../../../styles.module.scss";

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  transition: 0.5s;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  padding-right: 10px;
}
.project header {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.project header h2 {
  text-align: left;
  margin-bottom: 0px;
  transition: 0.5s;
}
.project header div a {
  width: 100%;
  padding-left: 5px;
  padding-right: 6px;
  text-align: center;
  font-size: 1.3em;
  color: $secondary-color;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  font-weight: 600;
  transition: 0.5s;
  margin-left: 10px;
  margin-right: 10px;
}

.project header div a:hover {
  border: 1px solid #52057B;
  color: #52057B;
}

.project p {
  font-size: 1.3em;
  color: $secondary-color;
}

.icon {
  font-size: 2em;
  color: $secondary-color;
  margin: auto;
}

@media (min-width: 1288px) {
  .icon {
    margin: 0;
    margin-top: 50px;
  }

  .project header a {
    width: 20%;
  }
}
