.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.aboutmeText {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.skills div{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
  gap: 20px;
}

.skills div span{
  flex: 1;
  margin-left: 7px;
  margin-right: 7px;
}

.aboutmeImage {
  height: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 5px 2px var(--shadow-color);
}

@media (min-width: 560px) {
  .skills div{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    width: auto;
  }
}