@import "../../../styles.module.scss";

.contact_container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: $primary-color;
  box-shadow: 0px 2px 5px 0px $shadow-color;
}
.contact_container h2{
  text-align: center;
}
.contact_container h3{
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 0;
}

form.contact {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
form span {
  color: $secondary-color;
  font-size: 1.2em;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
}
.contact input {
  font-family: $font;
  font-size: 1.1em;
  padding: 10px;
  background-color: $primary-color;
  -webkit-appearance: none;
  outline: none;
  height: 5ch;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px #829099;
  border: 0;
}
.contact textarea {
  font-family: $font;
  font-size: 1.1em;
  resize: none;
  background-color: $primary-color;
  -webkit-appearance: none;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.5s;
  height: 100px;
  box-shadow: 0px 2px 5px 0px #829099;
  border: 0;
}
.contact button {
  margin: auto;
  margin-top: 10px;
  width: 50%;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 2px 5px 0px #829099;
  color: $secondary-color;
  background-color: $primary-color;
}

.socials{
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
.email_sended{
  margin-top: 50px;
  margin-bottom: 50px;
}

.email_error{
  color: #91091E;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 520px) {
  form.contact {
    width: 50%;
  }
}
