@import "../../../../../styles.module.scss";

.tab {
  text-align: center;
  font-size: 1.3em;
  margin-right: 10px;
  margin-left: 10px;
  color: $secondary-color;
  font-weight: bold;
  border-bottom: 3px solid $primary-color;
  cursor: pointer;
}

.tab.active {
  border-bottom: 3px solid #75767a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.5s;
}
