@import "../../styles.module.scss";

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $primary-color;
  width: 100%;
  padding: 25px;
  border-radius: 0%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px -2px 5px 0px $shadow-color;
  font-weight: bold;
  margin-top: 10px;
}

@media (min-width: 520px) {
  .footer {
    width: 80%;
  }
}
