@import "../../styles.module.scss";

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: spece-between;
  background-color: var(--primary-color);
  width: 100%;
  padding: 20px;
  border-radius: 0%;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.5s;
  font-size: 0.8rem;
  transition: background-color 1s;
  align-items: center;
}

@media (min-width: 560px) {
  .footer {
    width: 80%;
  }
}
