$primary-color: #eeeeee;
$secondary-color: #26282B;
$tertiary-color: #eeeeee;
$fourth-color: #3f0071;

$shadow-color: rgba(0, 0, 0, 0.2);

$font: -apple-system, BlinkMacSystemFont, Segoe UI, RoboFto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

* {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: $font;
  font-size: 13px;
  line-height: 18px;
  background-color: #171717;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $primary-color;
}
